<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ACARA - Activation User</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
            }
            .container {
                max-width: 600px;
                margin: 2px auto;
                background-color: #ffffff;
                border: 1px solid #dddddd;
                border-radius: 5px;
                overflow: hidden;
            }
            .header {
                background-color: #00ffff;
                color: #ffffff;
                padding: 20px;
                text-align: center;
            }
            .content {
                padding: 20px;
            }
            .footer {
                background-color: #f1f1f1;
                color: #555555;
                padding: 10px;
                text-align: center;
                font-size: 12px;
            }
            .button {
                display: inline-block;
                padding: 10px 20px;
                margin: 20px 0;
                color: #ffffff;
                text-decoration: none;
                border-radius: 5px;
                border: 1px solid #00ffff;
                background-color: #00ffff;
            }
            @media (max-width: 600px) {
                .container {
                    width: 100%;
                    margin: 0;
                    border-radius: 0;
                }
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Welcome!</h1>
            </div>
            <div class="content">
                <p>Hello <%= username %>,</p>
                <p>
                    Thank you for registering with our service. Following is the
                    information from your account:
                </p>
                <ul>
                    <li><strong>Name:</strong> <%= fullName %></li>
                    <li><strong>Email:</strong> <%= email %></li>
                    <li>
                        <strong>Registration Date:</strong> <%= createdAt %>
                    </li>
                </ul>
                <p>
                    To start activating your account, please click the button
                    below:
                </p>
                <a href="<%= activationLink %>" class="button"
                    >Activate Account</a
                >
                <p>
                    If you have any questions, please feel free to contact us.
                </p>
                <p>Best Regards, ACARA</p>
            </div>
            <div class="footer">
                <p>
                    &copy; 2026 ACARA Event Management System. All rights
                    reserved.
                </p>
            </div>
        </div>
    </body>
</html>
